.army-banner {
    background: gold;
    height: 40px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;            
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #2b2b2b;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f6ffc1+0,ffd82d+50,f6ffc1+100 */
    background: linear-gradient(to right, rgba(255, 228, 176, 0) 0%,rgb(255, 228, 176) 50%,rgba(255, 228, 176, 0) 100%);
    background: rgb(255, 228, 176); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255, 228, 176, 0) 0%, rgba(255, 228, 176, 0.6) 50%, rgba(255, 228, 176, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255, 228, 176, 0) 0%,rgba(255, 228, 176, 0.6) 50%,rgba(255, 228, 176, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6ffc1', endColorstr='#f6ffc1',GradientType=1 ); /* IE6-9 */

    /* border-top: snow 2px solid;
    border-bottom: snow 2px solid; */
}

.army-title {
    padding: 6px;
}

.army-banner-border {
    height: 2px;
    width: 100%;
    background-color: red;
    background: linear-gradient(to right, rgba(253, 222, 182, 0) 0%,rgb(253, 222, 182) 50%,rgba(253, 222, 182, 0) 100%);
    background: rgb(253, 222, 182); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(253, 222, 182, 0) 0%, rgba(253, 222, 182, 0.9) 50%, rgba(253, 222, 182, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(253, 222, 182, 0) 0%,rgba(253, 222, 182, 0.9) 50%,rgba(253, 222, 182, 0) 100%); /* Chrome10-25,Safari5.1-6 */
}