:root {
  --main-colour: rgba(34,195,142);
  --main-colour-dark: rgb(35,99,82);
}

.wrap.wrap-mountain{
  background-image: url(../images/countryside.jpg);
  animation-duration: 19s;
}

.wrap.wrap-mountain:after {
  background-color: rgba(68, 1, 103, 0.8);
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(64,1,103,0.8) 77%);
}

.ms-hero-bg-info:after {
  background-color: rgba(68, 1, 103, 0.8);
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(64,1,103,0.8) 77%);
}

.ms-header.ms-header-dark {
  background-color: #131313;
}

.ms-navbar-dark {
  background-color: #131313;
}

.wrap.wrap-mountain {
  margin: 0px !important;
}

.ms-navbar, .ms-lead-navbar {
  margin-bottom: 0px;
}

.ms-footbar {
  margin-top: 0px;
  background-color: #292929;
}

.ms-footbar:before {
  height: 0px;
}

.ms-footbar-social a {
  background-color: #121212;
}

.ms-footer {
  background-color: #121212;
}

#home-body{
  padding: 8.5rem 0;
}

#home-body-img{
  border: 15px solid;
  max-height: 400px;
}

.ms-slidebar{
  background-color: #131313;
}

.ms-slidebar .ms-slidebar-menu>li>a.link{
  background-color: #131313;
}

.ms-slidebar .ms-slidebar-menu>li>a.link{
  color: #f8f8f8;
}

.ms-slidebar .ms-slidebar-header{
  background-image:url(../img/back_mountain_small.jpg);
}

.ms-hero-img-forest {
  background-image:url(../images/forest.jpg);
  background-size: cover;
  background-position: center center;
}

#slidebar-header-overlay{
  display:block;
  content:"";
  position:absolute;
  z-index:0;
  left:0;right:0;
  top:0;
  bottom:0;
  width:100%;
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(78,1,103,0.8) 77%);
}

.btn-circle.btn-circle-raised.btn-circle-primary:before {
  background-color: var(--main-colour-dark);
}
