:root {
  --main-colour: rgba(34,195,142);
  --main-colour-dark: rgb(35,99,82);
  --royal-color: rgb(121, 50, 156);
  --royal-colour-dark: rgb(87, 33, 113);
}

#footer {

}

.ms-thumbnail .ms-thumbnail-caption {
  background-color: rgba(34,195,142,0.8) !important;
}

.ms-thumbnail .ms-thumbnail-caption:before {
  background-color: rgba(68, 1, 103, 0.63) !important;
}

body .ms-site-container {
  background: #d2d2d2 !important;
}

.itemCardTitle {
  color: #737373;
}

.table {
  background-color: white !important;
  margin-bottom: 30px;
  border: #e0e0e0 3px solid;
}

.icon-btn.btn-md{
  max-width: 50px;
  padding: 8px 20px;
}

.itemCardTitle:hover {
  color: #272727;
}

#item-view-bg {
  background-image: url(../images/countryside.jpg);
  background-position: center center;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.content-center {
  margin: 0 auto;
}

.yt-iframe {
  max-width: 800px;
  min-width: 200px;
}

#item-view-bg:after {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(68, 1, 103, 0.8);
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(64,1,103,0.8) 77%);
}

.carousel-item {
  max-width: 500px;
}

.itemImgPreview img{
  max-width: 100px !important;
}

.ms-carousel .carousel-inner .carousel-item img{
  max-width: 100%;
}

.wrap.wrap-mountain{
  background-image: url(../images/keyboard.jpg);
  animation-duration: 19s;
}

.wrap.wrap-mountain:after {
  background-color: rgba(68, 1, 103, 0.8);
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(64,1,103,0.8) 77%);
}

.ms-hero-bg-info:after {
  background-color: rgba(68, 1, 103, 0.8);
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(64,1,103,0.8) 77%);
}

.ms-hero-img-airplane {
  background-image: url(../images/countryside.jpg) !important;
}

.ms-header.ms-header-dark {
  background-color: #131313;
}

.ms-navbar-dark {
  background-color: #131313;
}

.wrap.wrap-mountain {
  margin: 0px !important;
}

.ms-navbar, .ms-lead-navbar {
  margin-bottom: 0px;
}

.ms-footbar {
  margin-top: 0px;
  background-color: #292929;
}

.ms-footbar:before {
  height: 0px;
}

.ms-footbar-social a {
  background-color: #121212;
}

.ms-footer {
  background-color: #121212;
}

#home-body{
  padding: 7rem 0;
}

#home-body-img{
  border: 15px solid;
  max-height: 400px;
}

.ms-slidebar{
  background-color: #131313;
}

.ms-slidebar .ms-slidebar-menu>li>a.link{
  background-color: #131313;
}

.ms-slidebar .ms-slidebar-menu>li>a.link{
  color: #f8f8f8;
}

.ms-slidebar .ms-slidebar-header{
  background-image:url(../images/keyboard.jpg);
  background-size: cover;
}

.ms-hero-img-forest {
  background-image:url(../images/forest.jpg);
  background-size: cover;
  background-position: center center;
}

.ms-hero-img-keyboard {
  background-image:url(../images/keyboard.jpg);
  background-size: cover;
  background-position: center center;
}

.ms-hero-img-flowers {
  background-image:url(../images/flowers.jpg);
  background-size: cover;
  background-position: center center;
}

.ms-hero-img-music {
  background-image:url(../images/music.jpg);
  background-size: cover;
  background-position: center center;
}

#slidebar-header-overlay{
  display:block;
  content:"";
  position:absolute;
  z-index:0;
  left:0;right:0;
  top:0;
  bottom:0;
  width:100%;
  background: linear-gradient(0deg, rgba(34,195,142,0.8) 0%, rgba(78,1,103,0.8) 77%);
}

.btn-circle.btn-circle-raised.btn-circle-primary:before {
  background-color: var(--main-colour-dark);
}

@media only screen and (max-width: 990px) {
  #home-txt {
    text-align: center;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

.btn-circle:before {
  transition: none;
  border-radius: none;
  position: absolute;
  display: none;
  background-color: none;none
}

.btn-circle:hover:before, .btn-circle:focus:before {
  height: none;
  width: none;
  top: none;
  left: none;
}

.btn-circle.btn-success:hover {
  background: var(--main-colour);
  border-color: var(--main-colour-dark);
}

.btn-circle.btn-royal:hover {
  background: var(--royal-color);
  border-color: var(--royal-colour-dark);
}

.ms-logo {
  background-color: rgb(255 255 255 / 0%) !important;
}

.card .card-sub-header {
  padding: 15px 20px;
  padding: 1.5rem 2rem;
  background-color: #eee;
  border: 0
}

.card.card-primary .card-sub-header {
  background-color: #1e6950;
}

.card .card-sub-header h1, .card .card-sub-header h2, .card .card-sub-header h3,
.card .card-sub-header h4, .card .card-sub-header h5, .card .card-sub-header h6 {
  margin: 0;
  font-weight: 400
}

.card .card-sub-header h1{
  font-size:20px;
  font-size:2rem
}

.card .card-sub-header h2{
  font-size:18px;
  font-size:1.8rem
}

.card .card-sub-header h3{
  font-size:16px;
  font-size:1.6rem
}

.card .card-sub-header h4{
  font-size:13px;
  font-size:1.3rem
}

.ms-logo {
  width: 65px;
  height: 65px;
  border-radius: 0% !important;
}

.ms-logo.ms-logo-sm {
  width: 45px;
  height: 45px;
}
