[site]
title = 'KalciumCove.ie'
name = 'Kalcium Cove'
url = 'http://127.0.0.1/'
meta_description = 'Kalcium Cove offers a selection of collectible enamel pins, including Fursona Pins, for sale shipping from Ireland'
meta_keywords = 'pins, enamel pins, collectible pins, trade, trading, ireland, eu, europe, shop, fursona pins, persona pins'

[analytics]
id = ''

[header]
header_icon_img_link = '/web/assets/images/spoopyfloofer-icon2019.png';
header_title = 'Kalcium&nbsp;Cove';

[navbar]
1 = 'Home'
2 = 'About'
3 = 'Store'
4 = 'Links'

[navbar_links]
1 = '/home'
2 = '/about'
3 = '/store'
4 = '/links'

[navbar_icons]
1 = 'zmdi zmdi-home'
2 = 'fa fa-user'
3 = 'fa fa-map-pin'
4 = 'zmdi zmdi-link'

[sidebar]
social_links_title = 'Social Links'

[footer]
copyright_txt = 'Copyright &copy; 2019 Ren Delaney '

[social_links]
1 = 'https://twitter.com/'
2 = 'https://www.instagram.com/'
3 = 'https://t.me/'
4 = 'https://github.com/'

[social_link_titles]
1 = 'Twitter'
2 = 'Instagram'
3 = 'Telegram'
4 = 'GitHub'

[social_icons]
1 = 'zmdi zmdi-twitter'
2 = 'zmdi zmdi-instagram'
3 = 'fab fa-telegram-plane'
4 = 'zmdi zmdi-github'

[social_class_colors]
1 = 'btn-twitter'
2 = 'btn-instagram'
3 = 'btn-twitter'
4 = 'btn-github'

[home]
home_title = 'Welcome to my Website'
home_txt_1 = '';
home_txt_2 = ''
home_txt_3 = 'Thanks for checking out my site!'
home_btn_1 = '<i class="fa fa-boxes"></i> Store';

[admin_site]
title = 'MySite Admin System'
name = 'MySite Admin System'

[admin_header]
header_icon_img_link = '/web/assets/images/spoopyfloofer-icon2019.png';
header_title = 'Kalcium&nbsp;Cove&nbsp;Control&nbsp;Panel';

[admin_navbar]
1 = 'Home'
2 = 'Items'
3 = 'Sales'
4 = 'Log-Out'

[admin_navbar_links]
1 = '/admin/home'
2 = '/admin/items'
3 = '/admin/sales'
4 = '/admin/logout'

[admin_navbar_icons]
1 = 'fa fa-home'
2 = 'fa fa-boxes'
3 = 'fa fa-euro'
4 = 'fa fa-sign-out'
